{{#if user}}
<section>
    <div class="p-5">
        <h1>
            Mi dinero
        </h1>
    </div>
    <div class="pl-5">
        <h3>PEN</h3>
    </div>

    <div class="ml-5 card text-center mr-5 shadow p-3 mb-5 bg-white rounded" style="width: 70em; height: 10rem;">
        <div class="row">
            <div class="card-body">
                <h1>100.00</h1>
                <h5 class="card-title">Disponible</h5>
            </div>
            <div class="card-body">
                <h1>200.00</h1>
                <h5 class="card-title">Contable</h5>
            </div>
            <div class="card-body">
                <h1>500.00</h1>
                <h5 class="card-title">En rondas</h5>
            </div>
        </div>
    </div>

    <div class="pl-5">
        <h3>USD</h3>
    </div>
    <div class="ml-5 card text-center mr-5 shadow p-3 mb-5 bg-white rounded" style="width: 70em; height: 10rem;">
        <div class="row">
            <div class="card-body">
                <h1>00.00</h1>
                <h5 class="card-title">Disponible</h5>
            </div>
            <div class="card-body">
                <h1>00.00</h1>
                <h5 class="card-title">Contable</h5>
            </div>
            <div class="card-body">
                <h1>00.00</h1>
                <h5 class="card-title">En rondas</h5>
            </div>
        </div>
    </div>

    <div class="pl-5">
        <h3>Billetera Virtual</h3>
    </div>
    <div class="p-5 row">
        <div class="mr-4 pl-3">
            <img src="/img/yape_logo.png" style="width: 100px; height: 100px;">
        </div>
        <div class="mr-4">
            <img src="/img/plin_logo.png">
        </div>
        <div class="pt-4">
            <svg width="40px" height="40px" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="#6f42c1"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path fill-rule="evenodd"
                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
            </svg>
        </div>
    </div>

    <div class="pl-5">
        <h3>Tarjetas</h3>
    </div>
    <div class="p-5 ">
        <div class="px-5 row">
            <div class="col-2 card text-center mr-5 shadow-sm p-3 mb-5 bg-white rounded"
                style="width: 2rem; height: 6rem;">
                <div class="card-body row pt-5">
                    <div class="text-left pr-5">
                        <a class="card-link">**2134</a>
                    </div>
                    <div class="text-right ">
                        <a class="card-link">Visa</a>
                    </div>
                </div>
            </div>
            <div class="col-2 card text-center mr-5 shadow-sm p-3 mb-5 bg-white rounded"
                style="width: rem; height: 6rem;">
                <div class="card-body row pt-5">
                    <div class="text-left pr-5">
                        <a class="card-link">**3470</a>
                    </div>
                    <div class="text-right ">
                        <a class="card-link">Visa</a>
                    </div>
                </div>
            </div>
            <div class="col-2 card text-center shadow-sm p-3 mb-5 bg-white rounded" style="width: 2rem; height: 6rem;">
                <div class="card-body row pt-5">
                    <div class="text-left pr-5">
                        <a class="card-link">**4650</a>
                    </div>
                    <div class="text-right ">
                        <a class="card-link">Visa</a>
                    </div>
                </div>

            </div>
            <div class="col-2 pt-4 pl-5">
                <svg width="40px" height="40px" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="#6f42c1"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <path fill-rule="evenodd"
                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                </svg>
            </div>
        </div>
    </div>
</section>
{{else}}
{{/if}}