<div class="jumbotron mt-4 container">
    <h1 class="display-4">CONJUNTAS</h1>
    <p class="lead">Plataforma web que busca digitalizar las juntas</p>
    <hr class="my-4">
    <p>¿Qué es una junta? En PERÚ hacer una junta es acordar con un grupo de personas donde se elige un líder encargado
        de recolectar una cantidad fija de dinero de cada uno de los participantes, formando así un pozo. El número de
        veces a recaudar el dinero es igual al número de miembros, el cual será repartido a cada uno de ellos
        dependiendo de un numero asignado mediante sorteo. El tiempo de recaudación puede ser semanalmente, cada
        quincena o finales de mes. Por más que uno de los integrantes ya haya recogido la junta, tendrá que seguir
        aportando hasta que todos hayan recibido el pozo. Partiendo de esta idea decidimos crear CONJUNTA.</p>
    <p class="text-muted">Desarrollado por el equipo de Habdes</p>
    <a href="https://www.habdes.pe" class="btn btn-primary"> Conoce más </a>
</div>